@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);

@mixin padding-margin-reset(){
	margin: 0;
	padding: 0;
}

@mixin set-margin($size){
	margin: $size;
}

@mixin set-virtical-margin($size){
	margin: $size 0;
}

@mixin set-padding($size){
	padding: $size;
}

@mixin set-virtical-padding($size){
	padding: $size 0;
}

@mixin set-border-radius($radius){
	border-radius: $radius;
}

@mixin set-heading($size, $weight, $opacity){
	font-size: $size; 
	font-weight: $weight;
	opacity: $opacity; 
}

$primary-color: #723D46;
$secondard-color: #E26D5C;
$dark-color: #313638;
$light-color: #E8E9EB;
$contrast-color: #6DD3CE;

$fonts: 'Oxygen', sans-serif;

body{
	@include padding-margin-reset();
	min-height: 100vh;
}

.link { text-decoration: none; }
.link:hover { opacity: 0.7; }

.cont{
	width: 75%;
	@include set-margin(75px auto);

	h1{
		font-family: $fonts;
		color: $secondard-color;
		@include set-heading(1.75em, 300, 1);
	}

	p{
		font-family: $fonts;
		color: $dark-color;
		font-size: 1em;
		padding-left: 5px;
	}
}

.nav{
	width: 100%;
	min-height: 70px;
	height: 10vh; 
	max-height: 125px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: nowrap;
	background-color: $secondard-color;

	.nav-text{
  		display: inline-block;
  		color: $light-color;
  		font-family: $fonts;
  		@include padding-margin-reset();
  		@include set-heading(1.75em, 300, 1);
	}	

	.nav-list{
		display: inline-block;
		padding: 13px 50px;
		margin: 0px; 
	}

	.nav-list-item{
		display: inline-block;
		padding: 0px 15px;
		color: $light-color;
		font-family: $fonts;
	}

}

.hero{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $dark-color;
	min-height: 90vh;
	@include padding-margin-reset();

	h1{
		color: $secondard-color;
		font-family: $fonts;
		text-align: center;
		@include set-heading(2em, 300, 1);
		@include padding-margin-reset();
		@include set-virtical-padding(5px);
	}
	
	p{
		font-family: $fonts;
		color: $light-color;
		text-align: center;
		@include set-heading(1em, 300, 1);
		@include padding-margin-reset();
	}

}

.auth-pages{

	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 90vh;
	background-color: $dark-color;
	@include padding-margin-reset();

	.auth-cont{
		width: 40%;
		padding: 10px;
		background-color: $dark-color;
	}

	.title{
		color: $secondard-color;
		font-family: $fonts;
		text-align: center;
		@include set-heading(1.75em, 300, 1);
	}

	.link{
  		color: $secondard-color;
  		font-family: $fonts;
  		@include padding-margin-reset();
	}

	.lbl{
		display: block;
		text-align: center;
		color: $light-color;
  		font-family: $fonts;

		  .required{
			  font-size: .7em;
			  color: $secondard-color;
			  display: block;
		  }
	}

	.auth-textbox{
		display: block;
		margin: 10px auto;
		padding: 7px 15px;
	}

	.para{
		text-align: center;
		color: $light-color;
  		font-family: $fonts;
  		@include padding-margin-reset();
	}

	.submit{
		width: 50%;
		background-color: $secondard-color;
		color: $light-color;
		border: none;
		padding: 10px 0px;
		margin: 20px 25%;

		&:hover{
			opacity: .9;
			cursor: pointer;
		}

		&:focus{
			outline: none;
		}

		&[disabled]{
			opacity: .8;
		}

	}

	.error-block{
		background-color: $secondard-color;
		padding: 10px 0;
		margin-top: 10px;
	}

	.help-block{
		font-family: sans-serif;
		color: $contrast-color;
		margin: 0;
	}

}


